.main-loop {
  background-color: #0f0f0f;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.main-loop .chart-rectangle {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 920px;
  height: 761px;
  background-color: #d9d9d9;
  border-radius: 26px;
}

.main-loop .sell-button {
  position: absolute;
  top: 876px;
  left: 690px;
  width: 159px;
  height: 63px;
}

.main-loop .sell-button-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 157px;
  height: 63px;
  background-color: #f23645;
  border-radius: 31.5px;
}

.main-loop .sell-text {
  position: absolute;
  top: 13px;
  left: 43px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-loop .buy-button {
  position: absolute;
  top: 876px;
  left: 192px;
  width: 159px;
  height: 63px;
}

.main-loop .buy-button-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 157px;
  height: 63px;
  background-color: #2962ff;
  border-radius: 31.5px;
}

.main-loop .buy-text {
  position: absolute;
  top: 14px;
  left: 49px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-loop .trade-history {
  position: absolute;
  top: 400px;
  left: 1040px;
  width: 342px;
  height: 560px;
}

.main-loop .trade-history .trade-history-rectangle {
  position: absolute;
  top: 60px;
  left: 0;
  width: 340px;
  height: 500px;
  background-color: #d9d9d9;
  border-radius: 0px 0px 26px 26px;
}

.main-loop .trade-history .trade-history-rectangle .list {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 320px;
  height: 460px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-loop .trade-history .trade-history-rectangle .list li {
  font-family: "Roboto-Regular", Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  padding: 16px 10px;
  border-top: 1px solid #afafaf;
}

.main-loop .trade-history .trade-history-rectangle .list li:first-child {
  border-top: none;
}

.main-loop .trade-history .header-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 60px;
  background-color: #afafaf;
  border-radius: 26px 26px 0px 0px;
}

.main-loop .trade-history .header-text {
  position: absolute;
  top: 11px;
  left: 74px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-loop .realised-profit {
  position: absolute;
  top: 60px;
  left: 1040px;
  width: 342px;
  height: 140px;
}

.main-loop .realised-profit-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 140px;
  background-color: #d9d9d9;
  border-radius: 27px;
}

.main-loop .realised-profit .header-text {
  position: absolute;
  top: 18px;
  left: 42px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-loop .realised-profit .amount-text {
  position: absolute;
  top: 75px;
  left: 120px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.main-loop .close-button {
  position: absolute;
  top: 876px;
  left: 441px;
  width: 159px;
  height: 63px;
}

.main-loop .close-button-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 157px;
  height: 63px;
  background-color: #afafaf;
  border-radius: 31.5px;
}

.main-loop .close-text {
  position: absolute;
  top: 14px;
  left: 49px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-loop .unrealised-profit {
  position: absolute;
  top: 230px;
  left: 1040px;
  width: 342px;
  height: 140px;
}

.main-loop .unrealised-profit .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 140px;
  background-color: #d9d9d9;
  border-radius: 27px;
}

.main-loop .unrealised-profit .header-text {
  position: absolute;
  top: 18px;
  left: 42px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-loop .unrealised-profit .amount-text {
  position: absolute;
  top: 75px;
  left: 120px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}